@charset "utf-8";

/**************************
基本
***************************/
:root {
	--v-space: clamp(90ox, 9vw, 120px)
}

body {
	background-color: #eee;
	color: #707070;
	font-family: "UD デジタル 教科書体 NP-B", "HGP行書体", 'Times New Roman', "Bookman Old Style", serif;
}

h1,
h2,
h3,
p,
figure,
ul {
	margin: 0;
	list-style: none;
}

p {
	line-height: 1.8;
}

a {
	color: inherit;
	text-decoration: none;
}

.nav-btn,
.nav a:hover {
	opacity: 0.8;
	transition: 0.5s;
}

.common-container {
	width: min(92%, 1166px);
	margin: auto;
	position: relative;

}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.sidePage {
	padding: 1rem;
	line-height: 1.5em;
}

.sidePage h1,
.sidePage h2 {
	padding: 1rem 0;
}

/**************************
ヘッダー
***************************/

.header {
	height: 80px;
	background-color: lightblue;
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 0 0.5em;
	opacity: 0.8;
}

.header-container {
	display: flex;
	margin-right: auto;
	align-items: center;
	height: 100%;
}

.header-container>:first-child {
	margin-right: auto;
}

.site {
	width: auto;
	font-size: 1.5rem;
	line-height: -1;
}

.nav ul li a:hover {
	background-color: #a52a2a;
	color: #fff;
	padding: 0.4rem;
	border-radius: 30%;
}

i:hover {
	color: #a52a2a;
	transform: scale(1.1);
	transition: 0.5s;
}


/**************************
ナビゲーション領域
***************************/
.nav-btn {
	padding: 0;
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: #fff;
	font-size: 25px;
	padding-right: 1rem;
	width: 40px;
}

.open .nav-btn {
	z-index: 110;
	color: #fff;
}

.nav-btn .fa-bars {
	display: revert;
}

.open .nav-btn .fa-bars {
	display: none;
}

.nav-btn .batu {
	display: none;
}

.open .nav-btn .batu {
	display: revert;
}


@media(min-width: 768px) {
	.nav-btn {
		display: none;
	}
}

/**************************
ナビゲーションメニュー
***************************/

@media(max-width:767px) {

	.nav {
		position: fixed;
		inset: 0 -100% 0 100%;
		z-index: 100;
		background-color: lightblue;
		transition: 0.3s;
	}

	.open .nav {
		transform: translate(-100%, 0);
	}

	.nav ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 40px;
		color: #fff;
		text-align: center;

	}

}

@media(min-width:768px) {
	.nav ul {
		display: flex;
		gap: 40px;
		color: #707070;
	}
}

.hambuger-inner,
.hambuger-inner::before,
.hambuger-inner::after,
.hamburger.is-active .hambuger-inner,
.hamburger.is-active .hambuger-inner::before,
.hamburger.is-active .hambuger-inner::after {
	background-color: currentColor;
}


/**************************
キービジュアル
***************************/
/* .keyvisual {
	background-image: url("../images/keyvi1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70% 20%;
	background-attachment: fixed;
	height: 60vh;
}

@media(min-width: 768px) {
	height: 80vh;

} */


/**************************
画像とテキスト（自己紹介とスキル）
***************************/

.imageText {
	padding: clamp(90px, 9vw, 120px)0;
	background-color: #eee;
}

.imageText+.imageText {
	padding-top: 0;
}

.imageText-container {
	display: flex;
	flex-direction: column;
	gap: clamp(45px, 6vw, 80px);
}

.mine img {
	width: 100%;
	height: auto;
	border-radius: 10%;
	background-color: transparent;
	box-shadow: 10px 15px 15px #aaa;
}



.textH2 {
	border-left: 5px solid #aaa;
	padding: 0 0.5em 0 0.3em;
	margin: 0.5em;
	color: #707070;
	text-shadow: 1px 1px 1px #aaa;
}

.text p {
	margin: 0.5rem 0 1rem 1.5rem;
	text-align: justify;
}

.text table {
	border-collapse: collapse;
	border: none;
	margin-top: 1em;
	background-color: #fff;
	text-align: center;
}

th,
td {
	padding: 1em;
	border: none;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
}

td:first-child,
th:first-child {
	border-left: none;
}

tr:first-child td,
tr:first-child th {
	border-top: none;
}

.headingDeco::after {
	display: block;
	content: "";
	width: 7em;
	height: 0px;
	border-top: solid 2px #a52a2a;
	margin-top: 0.1em;
}

.headingDeco+p {
	margin-top: 0.5em;
	margin-bottom: 0.8em;
	color: #a52a2a;
	font-size: 18px;
}

.seikaku {
	background: linear-gradient(transparent 50%, #ffff7f 50%);
}

.fa-circle-user,
.fa-book {
	font-size: 1.5rem;
	float: left;
	padding: 1rem 0.8rem 0 0.5rem;
}

@media(min-width: 768px) {
	.imageText-container {
		flex-direction: row;
		align-items: center;
	}

	.imageText-container.reverse {
		flex-direction: row-reverse;
	}

	.imageText-container>.text {
		flex: 1;
		min-width: 17em;
	}

	.imageText-container>.iamge {
		flex: 2;
	}

	.headingDeco {
		font-size: clamp(30px, 3vw, 40px);
		min-height: 0vw;
		font-weight: normal;
	}

	.fa-circle-user,
	.fa-book {
		font-size: 2rem;
		float: left;
	}

	.text table {
		padding: 1%;
	}

	.text {
		width: 50%;
	}

	.image {
		width: 50%;
	}
}

/* .headingDeco::after {
		display: block;
		content: "";
		width: 160px;
		height: 0px;
		border-top: solid 2px #a52a2a;
		margin-top: 0.1em;
	}

	.headingDeco+p {
		margin-top: 0.5em;
		margin-bottom: 0.8em;
		color: #a52a2a;
		font-family: ;
		font-size: 18px;
	} */



/**************************
記事（作品集）
***************************/

.posts {
	padding: var(--v-space) 0;
	background-color: lightblue;
}

.posts-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 32px 25px;
	padding-bottom: 25px;
}

.siteName {
	font-size: clamp(1.3rem, 0.536rem + 0.45vw, 0.8rem);
	border-bottom: solid 3px #eee;
	margin-left: 1rem;
}

.post p {
	font-size: clamp(0.625rem, 0.574rem + 0.26vw, 0.75rem);
	margin: 0 1.5rem;
}

.post h3 {
	display: inline-block;
	background: #eee;
	border-radius: 80%;
	padding: 0.8rem;
}

.post a {
	margin-top: 0.5rem;
}

.posts img:hover {
	box-shadow: 0.2rem 0.2rem 0.5rem #aaa;
	transform: scale(1.03);
	transition: 0.5s;
}

@media(min-width:768px) {
	.posts-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.post a {
	display: block;
	text-align: center;
}

.post h3 {
	margin: 1em 0 0.5em;
	font-size: clamp(18px, 2vw, 20px);
}

.post>p {
	font-size: clamp(16px, 1.6vw, 18px);
	min-height: 0vw;
}

/* .post img {
	aspect-ratio: 2/1;
	object-fit: cover;
} */

.anthology {
	padding: 0 0 -3em 0;
	font-family: "Baskerville Old Face", "HGP教科書体", 'Times New Roman', Times, serif;
	font-weight: 300;
	font-size: clamp(30px, 3vw, 40px);
	min-height: 0vw;
	text-shadow: 2px 2px 2px #aaa;

}

.heading {
	font-family: "Baskerville Old Face", "HGP教科書体", 'Times New Roman', Times, serif;
	font-weight: 300;
	font-size: clamp(40px, 5.2vw, 70px);
	min-height: 0vw;
}

.heading span {
	font-size: clamp(1.563rem, 1.306rem + 1.28vw, 2.188rem);
}


/**************************
Footer
***************************/

.footer {
	padding: 20px 0;
	background-color: #eee;
	color: #707070;
	font-size: 13px;
	text-align: center;
}

.footer-site {
	grid-area: site;
	font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
}

.footer-menu {
	grid-area: menu;
}

.footer-copy {
	grid-area: copy;
}

.footer-container {
	display: grid;
	grid-template-areas:
		"site"
		"menu"
		"copy";
	gap: 10px;
	justify-items: center;
}

@media(min-width: 768px) {

	.footer-menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	}
}

/**************************
上へ戻るボタン
***************************/
#btt {
	text-align: center;
	position: fixed;
	right: 1vw;
	bottom: 1vw;
}

#btt a {
	display: block;
	width: 3rem;
	height: 3rem;
	font-size: 1.5rem;
	line-height: 3rem;
	text-decoration: none;
	background-color: #aaa;
	color: #fff;
	border-radius: 50%;
	transition: all 800ms;
}
